<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration PUBLIC
        "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">

<log4j:configuration>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss} %5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <category name="com.zimory" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
    </category>

    <root>
        <level value="WARN"/>
        <appender-ref ref="consoleAppender"/>
    </root>

</log4j:configuration>